body {
	font-family: 'Staatliches', sans-serif;
	background: url(../imatges/saladecine.jpg) repeat;
	background-size: 100%;
	margin: 2%;
	font-size: 16px;
}
header {
	background: url(../imatges/celluloid.jpg) repeat-x;
	height: 100%;
	background-size: 15%;
	
}
header h1 {
	font-size: 350%;
	text-align: center;
	}

#instruccions {
	padding: 0.3em;
	background: url(../imatges/casablanca.jpg);
	margin: 17% 38%;
	background-size: 100%;
}

#instruccions p {
	padding: 0.2em;
	margin: 0 ;
	background-color: hsla(0, 100%, 100%, 0.5);
}
#instruccions ul {
	margin: 1em 1em;
	list-style-type: none;
	background-color: hsla(0, 100%, 100%, 0.5);
}
button {
	margin: 2%;
}
img {
	width: 210.234375px;
	height: 118.125px;
	float: left;
	margin: 5%;
}
textarea {
	width: 40%;
}

.pregunta {
	font-size: 90%;
	background-color: hsla(0, 100%, 100%, 0.5);
	overflow: hidden;
}
.pregunta p {
	padding: 0 3%;
	font-size: 120%;
}
.pregunta ul {
	list-style-type: none;
}
.resposta {
	margin: 5% 0;
}
#bso {
	column-count: 2;
}

.columna1 {
	float: left;
	width: 45%;
	margin-left: 20px;
}
.columna2 {
	float: right;
	width: 45%;
	margin-right: 20px;
}
legend {
	background: url(../imatges/celluloid.jpg);
	background-size: 90%;
	font-size: 110%;
}
#caixaresize{
	width: 40%;
}
